{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <h2>Collect</h2>
        <form method="post">

            {% for key, value in crypto.items() %}

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="x" id={{ key }} name={{ key }}>
              <label class="form-check-label" for={{ key }}>
                {{ value.name }}
              </label>
            </div>

            {% endfor %}

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

{% endblock %}
