{% extends 'base.html' %}

{% block refresh_news_btn %}
    <button type="button" class="btn btn-outline-primary" id="btn_refresh_news">Refresh news</button>
{% endblock %}

{% block body %}
    <div class="container all_currency">

      {% for key, value in card_dict.items() %}

        <div class="card my-3">
            <h4 class="card-header">
              <img src={{ value.img }}>
              {{ value.name }}/
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/usd.svg">
              USD
            </h4>
            <div class="row">
              <div class="col-lg-2">
                <div >
                  <div class="card-body">
                    <h5 class="card-title" id={{ key }}>0000000</h5>
                    <span>24h Change: </span>
                    <span class="card-text" id={{ "percent_" + key }}>000000</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div>
                  <div class="card-body">
                    <h5 id= {{ "news_title_" + key }} ></h5>
                    <div class="card card-body" id= {{ "news_body_" + key }}></div>
                    <a href="#" class="btn btn-primary mt-2" id= {{ "news_url_" + key }}>Read full text</a>
                  </div>
                </div>
              </div>
            </div>
        </div>


      {% endfor %}

    </div>





    <script>

        function show()
        {
            $.ajax({
                url: "/stonks",
                cache: false,

                success: function(data){

                    $.each(data, function (key, value) {
                        $("#" + key).html(value.price);
                        $("#percent_" + key).html(value.percent24);
                        if (value.percent24[0] == '+') {
                            $("#percent_" + key).addClass("text-success");
                        }
                        else {
                            $("#percent_" + key).addClass("text-danger");
                        };
                    });
                }
            });
        }

        function refresh_news()
        {
            $.ajax({
                url: "/refresh_news",
                cache: false

            });
        }

        $('#btn_refresh_news').on('click', function() {
            $.ajax({
                url: '/get_news',
                cashe: false,
                success: function(news) {
                    $.each(news, function(key, value) {
                        $('#news_title_' + key).html(value.news_title);
                        $('#news_body_' + key).html(value.news_description);
                        $('#news_url_' + key).attr("href", value.news_url);
                    });
                }

            });
        });




        $(document).ready(function(){
            show();
            refresh_news();
            setInterval('show()',20000);
        });




    </script>

{% endblock %}