<div class="card my-3">
            <h4 class="card-header">
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/btc.svg">
              BITCOIN/
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/usd.svg">
              USD
            </h4>
            <div class="row">
              <div class="col-lg-2">
                <div >
                  <div class="card-body">
                    <h5 class="card-title" id="btc">0000000</h5>
                    <span>24h Change: </span>
                    <span class="card-text" id="percent_btc">000000</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div>
                  <div class="card-body">
                    <h5 id="news_title_btc"></h5>
                    <div class="card card-body" id="news_body_btc"></div>
                    <a href="#" class="btn btn-primary mt-2" id="news_url_btc">Read full text</a>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="card my-3">
            <h4 class="card-header">
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/eth.svg">
              ETHERIUM/
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/usd.svg">
              USD
          </h4>
            <div class="row">
              <div class="col-lg-2">
                <div >
                  <div class="card-body">
                    <h5 class="card-title" id="eth">0000000</h5>
                    <span>24h Change: </span>
                    <span class="card-text" id="percent_eth">000000</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div>
                  <div class="card-body">
                    <h5 id="news_title_eth"></h5>
                    <div class="card card-body my-xs-" id="news_body_eth"></div>
                    <a href="#" class="btn btn-primary mt-2" id="news_url_eth">Read full text</a>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="card my-3">
            <h4 class="card-header">
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/black/ltc.svg">
              LITECOIN/
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/usd.svg">
              USD
            </h4>
            <div class="row">
              <div class="col-lg-2">
                <div >
                  <div class="card-body">
                    <h5 class="card-title" id="ltc">0000000</h5>
                    <span>24h Change: </span>
                    <span class="card-text" id="percent_ltc">000000</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div>
                  <div class="card-body">
                    <h5 id="news_title_ltc"></h5>
                    <div class="card card-body" id="news_body_ltc"></div>
                    <a href="#" class="btn btn-primary mt-2" id="news_url_ltc">Read full text</a>
                  </div>
                </div>
              </div>
            </div>
        </div>


        <div class="card my-3">
            <h4 class="card-header">
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/xrp.svg">
              RIPPLE/
              <img src="https://cdn.jsdelivr.net/gh/atomiclabs/cryptocurrency-icons@c956b3ae476909346a0480861ffd7a673a992032/svg/color/usd.svg">
              USD
          </h4>
            <div class="row">
              <div class="col-lg-2">
                <div >
                  <div class="card-body">
                    <h5 class="card-title" id="xrp">0000000</h5>
                    <span>24h Change: </span>
                    <span class="card-text" id="percent_xrp">000000</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div>
                  <div class="card-body">
                    <h5 id="news_title_xrp"></h5>
                    <div class="card card-body" id="news_body_xrp"></div>
                    <a href="#" class="btn btn-primary mt-2" id="news_url_xrp">Read full text</a>
                  </div>
                </div>
              </div>
            </div>
        </div>